{% extends 'base.html' %}

{% block title %} 主页 {% endblock %}

{% block content %}
<div id="container" class="cls-container">
    <!-- BACKGROUND IMAGE -->
    <!--===================================================-->
    <!-- LOGIN FORM -->
    <!--===================================================-->
    <div class="cls-content" style="margin-top:150px ">
        <div class="mar-ver pad-btm">

            <p class="text-muted" style="color:white ">
                基于知识图谱的《红楼梦》人物关系可视化及问答系统
            </p>
            <a id="a" href="{{url_for('search')}}">开启探索</a>
        </div>

    </div>
</div>
{% endblock %}

{% block style %}
<style type="text/css">
    #container {
        background: url("{{url_for('static', filename='images/BingWallpaper.jpg')}}");
        background-position: 100% 100%;
        background-size: 100% auto;
    }
    #a {
        font-size: 18px;
        width: 230px;
        display: block;
        margin: 0 auto;
        /*text-decoration: none;*/
        padding: 12px 50px;
        border-radius: 5px;
        border: 1px solid #f2f2f2;
        background-color: transparent;
        text-align: center;
        color: #f2f2f2;
        cursor: pointer;
    }
    #a:hover {
        background-color: #249e92;
        cursor: pointer;
    }
    p {
        font-size: 40px;
        font-weight: lighter;

        margin-bottom: 90px;
    }
</style>
{% endblock %}